
@{
    ViewBag.Title = "cmpnyprofile_pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Profile</h2>
<div>
    @using(Html.BeginForm("cmpnyprofile_click","cmpnyprofile",FormMethod.Post))
     {
        <div>
            @Html.ActionLink("Post A Job", "jobpost_pageload","jobposting")
        </div>
     }
</div>